@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
html{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: .938rem;
}

body{
  background: var(--color-bg);
  color: var(--color-white);
  font-weight: 500;
  width: 100vw;
  min-height: 100vh;
}

::-webkit-scrollbar {
  display: none;
}

:root{
  --color-primary: #eC625f;
  --color-bg: #111111;

  --color-text-white: #ffffff;
  --color-text-black: #333543;
  --color-text-light: rgba(58, 67, 85, 0.25);
  --color-text-dark: rgba(58, 67, 85, 0.75);

  --color-dark-0: #1a1a1a;
  --color-dark-1: #313131;
  --color-dark-2: #414141;
  --color-dark-3: #525252;
  --color-dark-4: #616264;
  --color-dark-5: #6a6d70;
  
  --color-avax: #e84141;
  --color-white: #fefefe;

  --card-border-radius: 1.5rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;

  --card-padding: 1.8rem;
  --padding-1: 1.2rem;

  --navbar-height: 6rem;

  --center-width: 80%;
  --max-center-width: 1600px;
}